[submodule "cl-micropm"]
	path = cl-micropm
	url = https://github.com/jaredkrinke/cl-micropm.git
[submodule "deps/checkl"]
	path = deps/checkl
	url = https://github.com/rpav/CheckL.git
[submodule "deps/marshal"]
	path = deps/marshal
	url = https://github.com/wlbr/cl-marshal.git
[submodule "deps/cl-who"]
	path = deps/cl-who
	url = https://github.com/edicl/cl-who.git
[submodule "deps/cl-base64"]
	path = deps/cl-base64
	url = https://github.com/darabi/cl-base64.git
